<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/bs-head :: head('Create Order')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1>Create Order</h1>
<main class="container mt-5">
    <form th:action="@{|/orders/create/${bakerID}|}" th:method="post">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Expected Date</span>
            <input type="text" class="form-control" placeholder="yyyy-mm-dd" aria-label="Expected Date" aria-describedby="basic-addon1" name="date">
        </div>
        <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea class="form-control" name="description" aria-label="Description"></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>

    </main>
    <div th:replace="partials/scripts :: scripts"></div>
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script src="/js/keys.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>