<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar('Baking Buddy')"></nav>
<main class="container">
    <form th:action="@{/orders/create}" th:method="post" th:object="${order}">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Expected Date</span>
            <input type="text" class="form-control" placeholder="yyyy-mm-dd" aria-label="Expected Date" aria-describedby="basic-addon1" th:field="*{date}">
        </div>

        <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea class="form-control" aria-label="Description" th:field="*{description}"></textarea>
        </div>
        <input type="submit">
    </form>
</main>

</body>
</html>