<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar('Baking Buddy')"></nav>
<main class="container">
    <form th:action="@{/orders/create}" th:method="post" th:object="${order}">
        Description of what you want:
        <input name="description" th:field="*{description}">
        <br>
        Budget (Optional): $
        <input name="price" th:field="*{price}">
        <br>
        <input type="submit">
    </form>
</main>

</body>
</html>