<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head  th:replace="partials/bs-head :: head('Edit Order')">
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<!--<div th:replace="partials/navbar :: side-menu"></div>-->
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<aside th:replace="partials/sidebar :: aside"></aside>
<main class="background-theme col-md-9 ml-sm-auto col-lg-10 px-4 dash-main">
    <section class="edit_form_section">
        <h1 class="title">Edit Order</h1>
        <div class="container mt-6 p-6 ">
            <div class="edit-form row mt-5">
                <form class="col-lg-12" th:action="@{/orders/{id}/edit(id=${order.id})}" th:method="post" th:object="${order}">
                    <div class="form-field">
                        <label for="description" class="label">New Description:</label>
                        <textarea class="input-text" type="textarea" name="description" id="description" th:field="*{description}"></textarea>
                    </div>
                    <div class="form-field">
                        <label for="date" class="label"><span style="color: red;">**</span>Request by date</label>
                        <input class="input-text" type="date" name="date" id="date" th:field="*{date}">
                    </div>
                    <div class="form-field" th:if="${isBaker}">
                        <label for="price" class="label">Set Price:$</label>
                        <input class="input-text" type="number" step=".01" name="price" id="price" th:field="*{price}">
                    </div>
                    <div class="form-field text-center">
                        <button class="submit-btns" type="submit" id="picker">Order Image</button>
                        <input class="input-text" type="hidden" id="fileupload" th:value="${order.orderImage}" name="uploadedImage">
                    </div>
                    <div class="form-field" th:if="${!isBaker}">
                        <input type="hidden" name="price" id="price" th:field="*{price}">
                        <input type="hidden" id="fileupload" th:value="${order.orderImage}" name="uploadedImage">
                    </div>
                    <div class="form-field text-center">
                        <button class="submit-btns form-field" id="submit" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<div th:replace="partials/scripts :: scripts"></div>
<script src="/keys.js"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/navigation.js"></script>

</body>
</html>