<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head  th:replace="partials/bs-head :: head('Edit Order')">
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<div th:replace="partials/navbar :: navbar"></div>
<h1>Edit Order</h1>
<body>
<main class="container mt-5">
    <div>
        <p>Current Description : <span th:text="${order.description}"></span></p>
        <p>Current Request by date : <span th:text="${date}"></span></p>
        <p>Current Price: <span th:if="${order.price} == 0" th:text="PENDING"></span><span th:if="${order.price} !=0" th:text="'$'+${order.price}"></span></p>
    </div>
    <form th:action="@{/orders/{id}/edit(id=${order.id})}" th:method="post" th:object="${order}">
        New Description:
        <textarea type="textarea" name="description" id="description" th:field="*{description}"></textarea>
        <br>
        New Request by date (MM-dd-yyyy):
        <input type="text" name="date" id="date" th:field="*{date}">
        <br>
        <div th:if="${isBaker}">
            Set Price:$
            <input type="number" name="price" id="price" th:field="*{price}">
            <button class="btn btn-pill btn-info" type="button" id="picker">Profile Picture</button>
            <input type="hidden" id="fileupload" th:value="${order.orderImage}" name="uploadedImage">
        </div>
        <div th:if="${!isBaker}">
            <input type="hidden" name="price" id="price" th:field="*{price}">
            <input type="hidden" id="fileupload" th:value="${order.orderImage}" name="uploadedImage">
        </div>
        <button class="btn btn-pill btn-success" id="submit" type="submit">Save <Changes>                           </Changes></button>
    </form>
</main>
<div th:replace="partials/scripts :: scripts"></div>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="/js/keys.js"></script>
<script src="/js/main.js"></script>
</body>
</html>