<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials/bs-head :: head('Orders')">
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<aside th:replace="partials/sidebar :: aside"></aside>
<main class="col-md-9 ml-sm-auto col-lg-10 px-4 dash-main">
<h1>Orders</h1>
    <form th:action="@{/orders}" method="GET">
        <div class="input-group mb-3 d-flex justify-content-end">
            <input type="text" class="form-control col-md-4" placeholder="Search Orders" aria-label="Recipient's username" name="query" th:value="${query}" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <th scope="col">Expected Date</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Status</th>
                <th scope="col">Details</th>
            </thead>
            <tbody>
            <tr th:each="order : ${orderResults}">
                <td th:text="${order.date}"></td>
                <td><span th:text="${order.owner.firstName}"></span> <span th:text="${order.owner.lastName}"></span></td>
                <td>Otto</td>
                <td><a th:href="@{/orders/{id}(id=${order.id})}" sec:authorize="isAuthenticated()" class="btn btn-primary">More Details</a></td>
            </tr>
        </table>
    </div>
</main>
    <div th:replace="partials/scripts :: scripts"></div>
</body>
</html>