<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials/bs-head :: head('Orders')">
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<div th:replace="partials/navbar :: side-menu"></div>
<nav th:replace="partials/navbar :: dash-nav"></nav>
<aside th:replace="partials/sidebar :: aside"></aside>
<main class="col-md-9 ml-sm-auto col-lg-10 px-4 dash-main">
    <h1>Orders</h1>
    <form th:action="@{/orders}" method="GET">
        <div class="input-group mb-3 d-flex justify-content-end">
            <input type="text" class="form-control col-md-4" placeholder="Search Orders" aria-label="Recipient's username" name="query" th:value="${query}" aria-describedby="button-addon2">
            <button class="submit-btns" type="submit" id="button-addon2">Search</button>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <th scope="col">Expected Date</th>
            <th th:if="${user.isBaker()}" scope="col">Customer Name</th>
            <th th:if="${!user.isBaker()}" scope="col">Baker Name</th>
            <th scope="col">Status</th>
            <th scope="col">Details</th>
            </thead>
            <tbody>
            <!--                THIS IS CUSTOMER VIEW-->
            <tr th:if="${!user.isBaker()}" th:each="order : ${orders}">
                <td th:text="${dates.get(order.id)}" class="card-title"></td>
                <td><span th:text="${order.baker.firstName}"></span> <span th:text="${order.baker.lastName}"></span></td>
                <td th:text="${order.status}" class="card-text"></td>
                <td><a th:href="@{/orders/{id}(id=${order.id})}" class="btn btn-primary">More Details</a></td>
            </tr>
            <!--    THIS IS BAKER VIEW<-->

            <tr th:if="${user.isBaker()}" th:each="order : ${orders}" class="col-sm-6">
                <td th:text="${dates.get(order.id)}" class="card-title"></td>
                <td><span th:text="${order.owner.firstName}"></span> <span th:text="${order.owner.lastName}"></span></td>
                <td th:text="${order.status}" class="card-text"></td>
                <td><a th:href="@{/orders/{id}(id=${order.id})}" sec:authorize="isAuthenticated()" class="btn btn-primary">More Details</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<div th:replace="partials/scripts :: scripts"></div>
<script src="/js/navigation.js"></script>

</body>
</html>