<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials/bs-head :: head('Create Review')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="partials/navbar:: side-menu"></div>
<div th:replace="partials/navbar :: main-nav"></div>
<h1>Update Review</h1>
<br>
<main class="container">
    <form th:action="@{|/review/${user.id}/edit/${reviewToEdit.id}|}" th:method="post" th:object="${reviewToEdit}">
        <label for="reviewTitle">Title:</label>
        <input type="text" th:field="*{title}" id="reviewTitle" name="title">
        <br>
        <label for="reviewRating">Rating:</label>
        <input type="range" list="tickmarks" min="1" max="5" th:field="*{rating}" id="reviewRating"  name="rating">
        <datalist id="tickmarks">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
        </datalist>
        <br>
        <label for="reviewBody"></label>
        <textarea rows="10" cols="60" th:field="*{body}" id="reviewBody" name="body"></textarea>
        <br>
        <button>Update Review</button>
    </form>
    <form th:action="@{/}">
        <button>Cancel</button>
    </form>
</main>
<div th:replace="partials/scripts :: scripts"></div>
<script src="/js/navigation.js"></script>

</body>
</html>