<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials/bs-head :: head('Create Review')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<main class="container mt-5">

    <div class="card" th:each="review : ${reviews}">
        <div class="card-body">
            <h2 class="card-title" th:text="${review.title}"></h2>
            <p class="mt-5">Rating: <strong th:text="${review.rating}"></strong></p>
            <p class="card-text" th:text="${review.body}"></p>
            <p>Created by: <span th:text="${review.getOwner().getUsername()}"></span></p>
            <p th:text="${review.date}"></p>
        </div>
        <div sec:authorize="isAuthenticated()">
        <form th:if="${#authentication.principal.id == review.owner.id}" th:action="@{|/review/${baker.id}/edit/${review.id}|}" th:method="get">
            <button>Edit</button>
        </form>
            <form th:if="${#authentication.principal.id == review.owner.id}" th:action="@{|/review/${baker.id}/delete/${review.id}|}" th:method="post">
                <button>Delete</button>
            </form>
        </div>
    </div>
    <a th:href="@{/}">Go Back</a>
</main>
<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>