<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials/bs-head :: head('Create Review')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="partials/navbar :: side-menu"></div>
<div th:replace="partials/navbar :: mobile-side-menu"></div>
<header id="header">
    <nav th:replace="partials/navbar :: landing-nav"></nav>
</header>
<section id="welcome">
    <div class="container">
        <div class="welcome text-center">
            <h1><span th:text="${baker.username}"></span>Reviews</h1>
            <p class="text-uppercase">Check out what previous customers have said!</p>
        </div>
    </div>
</section>

<main class="col-md-9 ml-sm-auto col-lg-10 px-4 dash-main container">
    <div class="mb-5 text-center">
        <a class="review-post-btn btns add-btns" th:href="@{|/review/${baker.id}/create|}" sec:authorize="isAuthenticated()"  >Post a Review</a>
    </div>
    <section id="reviews">
        <div class="container text-center">
            <div class="row justify-content-evenly">
                <div class="card col-lg-3 col-md-6 text-center mb-2" th:each="review : ${reviews}">
                    <div class="card-body">
<!--                            <img th:src="${review.owner.get}" alt="" class="card-top-img img-fluid rounded-circle w-50 mb-3">-->
                        <h3 class="card-title" th:text="${review.title}"></h3>
                        <h4>Rating: <strong th:text="${review.rating}"></strong>/5</h4>
                        <p class="card-text mt-2" th:text="${review.body}"></p>
                        <p>Date posted: <span th:text="${dates.get(review.id)}"></span></p>
                        <p>by <span th:text="${review.owner.firstName}"></span> <span th:text="${review.owner.lastName}"></span></p>
                    </div>

                    <div class="text-center review-edit-delete" sec:authorize="isAuthenticated()">
                        <form class="review-edit-btn" th:if="${#authentication.principal.id == review.owner.id}" th:action="@{|/review/${baker.id}/edit/${review.id}|}" th:method="get">
                            <button class="btns edit-btns text-center">Edit</button>
                        </form>
                        <form class="review-delete-btn" th:if="${#authentication.principal.id == review.owner.id}" th:action="@{|/review/${baker.id}/delete/${review.id}|}" th:method="post">
                            <button class="btns delete-btns">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer mt-auto py-3 footer-bg">
    <div class="container w-100">
        <div class="footer-logo-box d-flex align-items-center">
            <img class="footer-logo" src="https://cdn.filestackcontent.com/z2yTGxRyyPn3GUz3E7wJ" alt="baking buddy">
            <span class="heading-primary-sub">Baking Buddy</span>
        </div>
        <div class="footer-navigation d-flex w-70">
            <ul class="footer-list d-flex list-text">
                <li><a href="https://www.linkedin.com/in/skyler-aschenbeck/">Skyler Aschenbeck</a></li>
                <li><a href="https://www.linkedin.com/in/blossom-perez-2781b7184/">Blossom Perez</a></li>
                <li><a href="https://www.linkedin.com/in/austinvarnon/">Austin Varnon</a></li>
                <li><a href="https://www.linkedin.com/in/armando-salazar89/">Armando Salazar</a></li>
            </ul>
        </div>
        </div>
        <p class="about-navigation list-text"><a th:href="@{/developers}" >About Us</a></p>
</footer>
<div th:replace="partials/scripts :: scripts"></div>
<script src="/js/navigation.js"></script>
</body>
</html>