<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/bs-head :: head('Developers')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<nav th:replace="partials/navbar :: navbar"></nav>
<body>

<main class="container center">
    <div class="card" style="width: 18rem;">
        <img src="../../../../img/Skyler.jpg" class="card-img-top" alt="Skyler's Professional Picture">
        <div class="card-body">
            <h5 class="card-title">Skyler Aschenbeck</h5>
            <p class="card-text"></p>
            <a href="https://github.com/saschenbeck" class=""><i class="fab fa-github"></i></a>
            <a href="www.linkedin.com/in/skyler-aschenbeck/" class=""><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../../img/" class="card-img-top" alt="Blossom's Professional Picture">
        <div class="card-body">
            <h5 class="card-title">Blossom Perez</h5>
            <p class="card-text"></p>
            <a href="https://github.com/blperez1" class=""><i class="fab fa-github"></i></a>
            <a href="www.linkedin.com/in/blossom-perez-2781b7184/" class=""><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../../img/Austin.jpg" class="card-img-top" alt="Austin's Professional Picture">
        <div class="card-body">
            <h5 class="card-title">Austin Varnon</h5>
            <p class="card-text"></p>
            <a href="https://github.com/asvarnon" class=""><i class="fab fa-github"></i></a>
            <a href="www.linkedin.com/in/austinvarnon/" class=""><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../../img/Armando.jpg" class="card-img-top" alt="Armando's Professional Picture">
        <div class="card-body">
            <h5 class="card-title">Armando Salazar</h5>
            <p class="card-text"></p>
            <a href="https://github.com/armandojsalazar" class=""><i class="fab fa-github"></i></a>
            <a href="www.linkedin.com/in/armando-salazar89/" class=""><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</main>





<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>