<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="partials/bs-head :: head('Tools')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<nav th:replace="partials/navbar :: navbar('Baking Buddy')"></nav>
<h1>Edit Description</h1>
<body>
<main class="container">
    <div>
        <h2 th:text="${tool.name}"></h2>
        <p>Current Description<span th:text="${tool.description}"></span></p>
    </div>
    <form th:action="@{/inventory/tools/{id}/edit(id=${tool.id})}" th:method="post" th:object="${tool}">
        New Description:
        <input type="text" name="description" id="description" th:field="*{description}">
        <br>
        <input type="submit">
    </form>
</main>
</body>
</html>