<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials/bs-head :: head('Tools')">
    <meta charset="UTF-8">
    <title>Inventory</title>
</head>
<body>
<div th:replace="partials/navbar :: side-menu"></div>
<nav th:replace="partials/navbar :: dash-nav"></nav>
<aside th:replace="partials/sidebar :: aside"></aside>
<main class="col-md-9 ml-sm-auto col-lg-10 px-4 dash-main">
    <h1>Tools</h1>
    <br>
    <a th:href="@{/inventory/tools/add}" class="btn btn-primary">Add Tool</a>
    <main class="container">
        <div th:each="tool : ${userTools}" class="col-sm-6">
            <h4 th:text="${tool.name}" class="card-title"></h4>
            <p th:text="${tool.description}" class="card-text"></p>
            <img th:each="image : ${userToolImages}" th:if="${image.tool.id == tool.id}" th:src="${image.imageUrl}" alt="">
            <a th:href="@{/inventory/tools/{id}/edit(id=${tool.id})}" class="btn btn-primary">EDIT</a>
        </div>
    </main>
</main>
<div th:replace="partials/scripts :: scripts"></div>
<script src="/js/navigation.js"></script>

</body>
</html>