<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/bs-head :: head('Tools')">
    <meta charset="UTF-8">
    <title>Inventory</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<aside th:replace="partials/sidebar :: aside"></aside>
<main class="col-md-9 ml-sm-auto col-lg-10 px-4 dash-main">
<h1>Tools</h1>
<br>
<a th:href="@{/inventory/tools/add}" class="btn btn-primary">Add Tool</a>
    <main class="container">
        <div th:each="tool : ${user.tools}" class="col-sm-6">
            <h4 th:text="${tool.name}" class="card-title"></h4>
            <p th:text="${tool.description}" class="card-text"></p>
            <a th:href="@{/inventory/tools/{id}/edit(id=${tool.id})}" class="btn btn-primary">EDIT</a>
        </div>
    </main>
</main>
  <div th:replace="partials/scripts :: scripts"></div>
</body>
</html>