<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:fragment="navbar">
<!--          corrected nav-->
                <div class="container-fluid">
                    <a th:href="@{/}" class="navbar-brand" href="#">Baking Buddy</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <form class="form-inline my-2 my-lg-0" th:action="@{/search-results}" th:method="get">
                                    <input name="query" class="form-control mr-sm-2" type="search" placeholder="Find a Baker" aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                </form>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/}">Home</a>
                            </li>
                            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu"  aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" th:href="@{/dashboard}">Dashboard</a></li>
                                    <li><a class="dropdown-item" th:href="@{/orders}">Orders</a></li>
                                    <li><a class="dropdown-item" th:href="@{/inventory/consumables}">Pantry</a></li>
                                    <li><a class="dropdown-item" th:href="@{/inventory/tools}">Tools</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <form th:action="@{/logout}" th:method="post">
                                            <a class="dropdown-item" href="#">Logout</a>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item" sec:authorize="!isAuthenticated()">
                                <a class="nav-link" th:href="@{/login}">Login</a>
                            </li>
                            <li class="nav-item" sec:authorize="!isAuthenticated()">
                                <a class="nav-link" th:href="@{/register}">Join</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>






</body>
</html>