<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-expand navbar-light bg-light fixed-top" th:fragment="navbar">
<!--          corrected nav-->
                <div class="container-fluid px-4">
                    <a th:href="@{/}" class="navbar-brand">Baking Buddy</a>
                    <form class="form-inline my-2 my-lg-0" th:action="@{/search-results}" th:method="get">
                            <input name="query" type="text" class="form-control ml-3" placeholder="Find a Baker" aria-label="find a baker" aria-describedby="button-addon2">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                    </form>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav home mb-2 mb-lg-0">
                            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img th:src="${profileImage}" width="40" height="40" class="rounded-circle" alt="">
                                </a>
                                <ul class="dropdown-menu"  aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" th:href="@{/dashboard}">Dashboard</a></li>
                                    <li><a class="dropdown-item" th:href="@{/orders}">Orders</a></li>
                                    <li th:if="${isBaker}"><a class="dropdown-item" th:href="@{/inventory/consumables}">Pantry</a></li>
                                    <li th:if="${isBaker}"><a class="dropdown-item" th:href="@{/inventory/tools}">Tools</a></li>
                                    <li><a class="dropdown-item" th:href="@{/inbox}">Inbox</a></li>
                                    <li><a class="dropdown-item" th:href="@{/user/{id}/edit(id=${user.id})}">Settings</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <form th:action="@{/logout}" th:method="post">
                                            <button class="dropdown-item" type="submit">Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item" sec:authorize="!isAuthenticated()">
                                <a class="nav-link" th:href="@{/login}">Login</a>
                            </li>
                            <li class="nav-item" sec:authorize="!isAuthenticated()">
                                <a class="nav-link" th:href="@{/register}">Join</a>
                            </li>
                        </ul>
                    </div>
                    <a class="nav-item" th:href="@{/developers}">About Us</a>
                </div>
            </nav>



    <div th:replace="partials/scripts :: scripts"></div>

</body>
</html>