<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    container-->

<aside class="container" th:fragment="aside">
    <div class="row">
        <!--            sidebar-->
        <div class="col-md-2 d-none d-sm-none d-md-block sidebar">
            <div class="sidebar-left">
                <ul class="nav flex-column sidebar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/dashboard}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}">Orders</a>
                    </li>
                    <li th:if="${isBaker}" class="nav-item">
                    <li th:if="${isBaker}" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Inventory
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" th:href="@{/inventory/consumables}">My Pantry</a></li>
                            <li><a class="dropdown-item" th:href="@{/inventory/tools}">My Baking Tools</a></li>
                        </ul>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/{id}/edit(id=${user.id})}">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>
</body>
</html>