<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials/bs-head :: head('Baker Profile')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <header th:replace="partials/banner :: banner(${user.username})"></header>

    <div>
        <h1><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></h1>
        <h2><span th:text="${user.city}"></span>, <span th:text="${user.state}"></span></h2>
        <input type="hidden" th:name="baker-id" th:value="${user.id}">
        <a th:href="@{|/orders/create/${user.id}|}" class="btn btn-primary">Create Order</a>
        <a th:href="@{|/review/create/${user.id}|}" sec:authorize="isAuthenticated()" class="btn btn-primary">Post a Review</a>
        <button class="btn btn-warning" data-toggle="modal" data-target="#newMessage">Send Message</button>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="modal fade" id="newMessage">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 th:text="${user.username} + ' aka ' +${user.firstName} +' '+ ${user.lastName}"></h1>
                                </div>
                                <form th:action="@{|/inbox/${user.id}|}" th:method="post">
                                    <textarea class="form-control" aria-label="body" name="body"></textarea>
                                    <button class="btn btn-success" type="submit">Send</button>
                                </form>
                                <div class="modal-footer">
                                    <input class="btn btn-primary" data-dismiss="modal" value="Close">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="partials/scripts :: scripts"></div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>