<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials/bs-head :: head('Baker Profile')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="partials/navbar :: side-menu"></div>
<div th:replace="partials/navbar :: mobile-side-menu"></div>
<header id="header">
    <nav th:replace="partials/navbar :: landing-nav"></nav>
</header>
<section id="welcome">
    <div class="container">
        <div class="welcome text-center baker-profile">
            <img th:src="${bakerImage}" th:alt="${baker.username}" class="rounded-circle promoImage">
            <h1 th:text="${baker.username}"></h1>
            <p th:text="${baker.firstName} + ' ' + ${baker.lastName}" class="text-uppsercase"></p>
            <p th:text="${baker.city} + ', ' + ${baker.state}" class="text-uppercase"></p>
        </div>
    </div>
</section>

    <main class="container d-flex flex-wrap justify-content-evenly mt-5">
        <input type="hidden" th:name="baker-id" th:value="${baker.id}">
        <div sec:authorize="isAuthenticated()" th:if="${isAnonymous}">
            <div th:if="${sendMessage}" class="row justify-content-evenly">
                <a th:href="@{|/orders/create/${baker.id}|}" sec:authorize="isAuthenticated()" class="submit-btns text-center">Create Order</a>
                <a th:href="@{|/review/${baker.id}/create|}" sec:authorize="isAuthenticated()" class="submit-btns text-center">Post a Review</a>
                <button sec:authorize="isAuthenticated()" class="submit-btns" data-toggle="modal" data-target="#newMessage">Send Message</button>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="modal fade" id="newMessage">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 th:text="${baker.username} + ' aka ' +${baker.firstName} +' '+ ${baker.lastName}"></h1>
                                        </div>
                                        <form th:action="@{|/inbox/${baker.id}|}" th:method="post">
                                            <textarea class="form-control" aria-label="body" name="body"></textarea>
                                            <button class="btn btn-success" type="submit">Send</button>
                                        </form>
                                        <div class="modal-footer">
                                            <input class="btn btn-primary" data-dismiss="modal" value="Close">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-width card-shadow order-card" th:each="order : ${bakerApprovedOrders}">
            <img th:if="${order.orderImage != ''}" class="order-photo" th:src="${order.orderImage}" th:alt="${order.description}">
            <img th:if="${order.orderImage == ''}" class="order-photo" src="https://cdn.filestackcontent.com/z2yTGxRyyPn3GUz3E7wJ" th:alt="${order.description}">
            <div class="card-body text-center">
                <p class="card-text dark-text text-uppercase" th:text="${'Requested by: ' + order.owner.username}"></p>
                <p class="card-text dark-text text-uppercase" th:text="${'Date Posted: ' + order.date}"></p>
                <button class="submit-btns" data-toggle="modal" th:data-target="${'#modal'+order.id}">More Info</button>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="modal fade" th:id="${'modal'+order.id}">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div th:if="${order.orderImage == ''}" class="modal-header">
                                            <h1 th:text="${baker.username + ' has not yet posted photo' }"></h1>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <img class="modal-order-image" th:if="${order.orderImage != ''}" th:src="${order.orderImage}" th:alt="${order.description}">
                                            <h4 class="card-text dark-text text-uppercase" th:text="${'Description: '+ order.description}"></h4>
                                            <div class="card-text dark-text text-uppercase" th:text="${'Requested by: ' + order.owner.username}"></div>
                                            <div class="card-text dark-text text-uppercase" th:text="${'Date Posted: ' + order.date}"></div>
                                            <div class="card-text dark-text text-uppercase" th:if="${order.price == 0}" th:text="'Price: Undisclosed'"></div>
                                            <div class="card-text dark-text text-uppercase" th:if="${order.price > 0}" th:text="${'Price: $' + order.price}"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="submit-btns" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <div th:replace="partials/scripts :: scripts"></div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/navigation.js"></script>
</body>
</html>