<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials/bs-head :: head('Dashboard')"></head>
<body>
    <nav th:replace="partials/navbar :: navbar('Baking Buddy')"></nav>
    <div class="wrapper d-flex">
        <div class="sideMenu">
            <div class="sidebar d-flex align-items-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="material-icons icon">person</i>
                            <span class="text">User Profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="material-icons icon">insert_chart</i><span class="text">Tools</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="material-icons icon">computer</i><span class="text">Consumables</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="material-icons icon">settings</i><span class="text">Settings</span></a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="content">
            <main>
                <div class="container-fluid">
                </div>
            </main>
        </div>
    </div>
    <div th:replace="partials/scripts :: scripts"></div>
</body>
</html>