<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials/bs-head :: head('Profile')"></head>
<body>
<div th:replace="partials/navbar :: side-menu"></div>
<nav th:replace="partials/navbar :: dash-nav"></nav>
<aside th:replace="partials/sidebar ::  aside"></aside>
<main class="background-theme col-md-9 ml-sm-auto col-lg-10 px-4 dash-main">
    <section class="edit_form_section">
        <h1 class="title">Edit Account</h1>
        <div class="container mt-6 p-6">
            <div class="edit-form row mt-5">
                <form class="col-lg-12" th:action="@{/user/{id}/edit(id=${user.id})}" th:method="post" th:object="${user}">
                    <div class="form-field">
                        <label class="label" for="firstName">First Name</label>
                        <input id="firstName" class="input-text" th:field="*{firstName}" name="firstname" th:errorClass="is-invalid">
                        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="invalid-feedback"></div>
                    </div>

                    <div class="form-field">
                        <label class="label" for="lastName">Last Name</label>
                        <input id="lastName" class="input-text" th:field="*{lastName}" name="lastname" th:errorClass="is-invalid" >
                        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="invalid-feedback"></div>
                    </div>

                    <div class="form-field">
                        <label class="label" for="city">City</label>
                        <input id="city" class="input-text" th:field="*{city}" name="city" th:errorClass="is-invalid">
                        <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="invalid-feedback"></div>
                    </div>

                    <div class="form-field">
                        <label class="label" for="state">State</label>
                        <input id="state" class="input-text" th:field="*{state}" name="state" th:errorClass="is-invalid">
                        <div th:if="${#fields.hasErrors('state')}" th:errors="*{state}" class="invalid-feedback"></div>
                    </div>


                    <div class="form-field">
                        <label class="label" for="email">Email</label>
                        <input id="email" class="input-text" th:field="*{email}" name="email" th:errorClass="is-invalid">
                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
                    </div>

                    <div class="form-field text-center">
                        <button class="btn btn-pill btn-info py-1" id="submit" type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>


<div th:replace="partials/scripts :: scripts"></div>
<!--    <script src="/keys.js"></script>-->
<!--    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>-->
<!--    <script src="/js/main.js"></script>-->
<script src="/js/navigation.js"></script>
</body>
</html>