<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/bs-head :: head('Forgot Password')"></head>
<body>
<main>
    <div th:replace="partials/navbar :: side-menu"></div>
    <div th:replace="partials/navbar :: mobile-side-menu"></div>
    <header id="header">
        <nav th:replace="partials/navbar :: landing-nav"></nav>
    </header>
    <section id="welcome">
        <div class="container">
            <div class="welcome text-center">
                <h1>Forgot Password</h1>
                <div th:if="${error != null}">
                    <p class="text-danger">[[${error}]]</p>
                </div>
                <div th:if="${message != null}">
                    <p class="text-warning">[[${message}]]</p>
                </div>

                <form th:action="@{/forgot-password}" method="post" style="max-width: 420px; margin: 0 auto;">
                    <div class="border border-secondary rounded p-3">
                        <div>
                            <p>We will be sending a reset password link to your email.</p>
                        </div>
                        <div>
                            <p>
                                <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required
                                       autofocus/>
                            </p>
                            <p class="text-center">
                                <input type="submit" value="Send" class="btns add-btns"/>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
<!--    <div>-->
<!--        <h2>Forgot Password</h2>-->
<!--    </div>-->

<!--    <div th:if="${error != null}">-->
<!--        <p class="text-danger">[[${error}]]</p>-->
<!--    </div>-->
<!--    <div th:if="${message != null}">-->
<!--        <p class="text-warning">[[${message}]]</p>-->
<!--    </div>-->

<!--    <form th:action="@{/forgot-password}" method="post" style="max-width: 420px; margin: 0 auto;">-->
<!--        <div class="border border-secondary rounded p-3">-->
<!--            <div>-->
<!--                <p>We will be sending a reset password link to your email.</p>-->
<!--            </div>-->
<!--            <div>-->
<!--                <p>-->
<!--                    <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required-->
<!--                           autofocus/>-->
<!--                </p>-->
<!--                <p class="text-center">-->
<!--                    <input type="submit" value="Send" class="btn btn-primary"/>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
</main>
<footer class="footer mt-auto py-3 footer-bg">
    <div class="container w-100">
        <div class="footer-logo-box d-flex align-items-center">
            <img class="footer-logo" src="https://cdn.filestackcontent.com/z2yTGxRyyPn3GUz3E7wJ" alt="baking buddy">
            <span class="heading-primary-sub">Baking Buddy</span>
        </div>
        <div class="footer-navigation d-flex w-70">
            <ul class="footer-list d-flex list-text">
                <li><a href="https://www.linkedin.com/in/skyler-aschenbeck/">Skyler Aschenbeck</a></li>
                <li><a href="https://www.linkedin.com/in/blossom-perez-2781b7184/">Blossom Perez</a></li>
                <li><a href="https://www.linkedin.com/in/austinvarnon/">Austin Varnon</a></li>
                <li><a href="https://www.linkedin.com/in/armando-salazar89/">Armando Salazar</a></li>
            </ul>

        </div>
        <p class="about-navigation list-text"><a th:href="@{/developers}" >About Us</a></p>
</footer>
<div th:replace="partials/scripts :: scripts"></div>
<script src="/js/navigation.js"></script>
</body>
</html>