<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/bs-head :: head('Login')">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<main class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center pb-4">Login</h3>
            <div th:if="${param.error}">-->
                        Invalid Username and Password.
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>
                    <form th:action="@{/login}" method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text"  class="form-control" name="username" id="username" >
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" class="form-control" name="password" type="password" />
                        </div>
                        <input type="submit" value="Log In" />
                    </form>
                    <div class="form-group pt-3">
                        <a href="#">Forget Password?</a>
                    </div>
            </div>
<!--            <div class="col-md-6">-->
<!--                <h3 class="text-center pb-4">Don't have an account?</h3>-->
<!--                    <div class="d-grid gap-2 text-center">-->
<!--                        <div class="d-grid gap-2 col-6 mx-auto">-->
<!--                            <form th:action="@{/register}" method="GET">-->
<!--                                <button class="btn btn-primary" type="submit">Sign up</button>-->
<!--                            </form>-->
<!--                            <button class="btn btn-primary" type="submit">Sign up with Google</button>-->
<!--                        </div>-->
<!--                    </div>-->

            </div>
            </div>
        </div>
<!--    <h1>Log In</h1>-->
<!--    <div th:if="${param.error}">-->
<!--        Invalid Username and Password.-->
<!--    </div>-->
<!--    <div th:if="${param.logout}">-->
<!--        You have been logged out.-->
<!--    </div>-->
<!--    <form th:action="@{/login}" method="post">-->
<!--        <div class="form-group">-->
<!--            <label for="username">Username</label>-->
<!--            <input type="text"  class="form-control" name="username" id="username" >-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="password">Password</label>-->
<!--            <input id="password" class="form-control" name="password" type="password" />-->
<!--        </div>-->
<!--        <input type="submit" value="Log In" />-->
<!--    </form>-->


</main>
</body>
</html>