<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/bs-head :: head('Reset Password')"></head>
<body>
<div th:replace="partials/navbar :: side-menu"></div>
<div th:replace="partials/navbar :: mobile-side-menu"></div>
<header id="header">
    <nav th:replace="partials/navbar :: landing-nav"></nav>
</header>
<section id="welcome">
    <div class="container">
        <div class="welcome text-center">
            <h1>Reset Password</h1>
            <div th:fragment="reset">
                <form th:action="@{/reset-password}" method="post" style="max-width: 350px; margin: 0 auto;">
                    <input type="hidden" name="token" th:value="${token}"/>
                    <div class="border border-secondary rounded p-3">
                        <div>
                            <p>
                                <input type="password" name="password" id="password" class="form-control"
                                       placeholder="Enter your new password" required autofocus/>
<!--                                <input id="showPassword" type="checkbox">Show-->
                            </p>
                            <p>
                                <input id="passwordConfirm" type="password" name="passwordConfirm" class="form-control" placeholder="Confirm your new password"
                                       required/>
<!--                                <input id="showConfirmPassword" type="checkbox">Show-->
                            </p>
                            <p class="text-center"><span id="message"></span></p>
                            <p class="text-center">
                                <input type="submit" value="Change Password" id="changePassword" class="btns add-btns"/>
                            </p>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--    <div th:fragment="reset">-->
<!--        <form th:action="@{/reset-password}" method="post" style="max-width: 350px; margin: 0 auto;">-->
<!--            <input type="hidden" name="token" th:value="${token}"/>-->
<!--            <div class="border border-secondary rounded p-3">-->
<!--                <div>-->
<!--                    <p>-->
<!--                        <input type="password" name="password" id="password" class="form-control"-->
<!--                               placeholder="Enter your new password" required autofocus/>-->
<!--                        <input id="showPassword" type="checkbox">Show-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        <input id="passwordConfirm" type="password" name="passwordConfirm" class="form-control" placeholder="Confirm your new password"-->
<!--                               required/>-->
<!--                        <input id="showConfirmPassword" type="checkbox">Show-->
<!--                    </p>-->
<!--                    <p class="text-center"><span id="message"></span></p>-->
<!--                    <p class="text-center">-->
<!--                        <input type="submit" value="Change Password" id="changePassword" class="btn btn-primary"/>-->
<!--                    </p>-->
<!--                </div>-->

<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<footer class="footer mt-auto py-3 footer-bg">
    <div class="container w-100">
        <div class="footer-logo-box d-flex align-items-center">
            <img class="footer-logo" src="https://cdn.filestackcontent.com/z2yTGxRyyPn3GUz3E7wJ" alt="baking buddy">
            <span class="heading-primary-sub">Baking Buddy</span>
        </div>
        <div class="footer-navigation d-flex w-70">
            <ul class="footer-list d-flex list-text">
                <li><a href="https://www.linkedin.com/in/skyler-aschenbeck/">Skyler Aschenbeck</a></li>
                <li><a href="https://www.linkedin.com/in/blossom-perez-2781b7184/">Blossom Perez</a></li>
                <li><a href="https://www.linkedin.com/in/austinvarnon/">Austin Varnon</a></li>
                <li><a href="https://www.linkedin.com/in/armando-salazar89/">Armando Salazar</a></li>
            </ul>

        </div>
        <p class="about-navigation list-text"><a th:href="@{/developers}" >About Us</a></p>
</footer>
<div th:replace="partials/scripts :: scripts"></div>
<script src="/js/navigation.js"></script>
</body>
</html>