<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="reset">
        <form th:action="@{/user/{id}/edit(id=${user.id})}" th:method="post" th:object="${user}">
            <div class="form-row py-1">
                <label for="password">Password:</label>
                <input id="password" class="form-control" th:type="password" name="password">
    <!--            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>-->
            </div>
            <div class="form-row py-1">
                <label for="confirmPass">Confirm Password:</label>
                <input id="confirmPass" class="form-control" th:type="password" name="rpassword">
    <!--            <div th:if="${#fields.hasErrors('rpassword')}" th:errors="*{rpassword}" class="invalid-feedback"></div>-->
            </div>
        </form>
    </div>
</body>
</html>