.devbg {
  background-image: url("../img/aboutbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#devCards {
    background-color: initial;
}

.dev-header {
    margin-top: 10rem;
}

.dev-text {
    font-size: 25px;
}

.dev-header, .dev-text {
    color: #2a2a28;
}

#github {
   color: black;
}

#linkedin {
    color: cornflowerblue;
}

#devContainer {
    display: flex;
    align-content: center;
    margin-top: 50%;
}

.dev-img {
    border-radius: 9px;
}