#htmlBG {
    background: url("../img/BakingBG.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll
}
#devBG{
    background-color: initial;
}

#devCards {
    background-color: initial;
}

.text-center{
    color: floralwhite;
}

#github {
   color: #555555;
}

#linkedin {
    color: royalblue;
}

#devContainer {
    display: flex;
    align-content: center;
    margin-top: 50%;
}


