.tools {
    background-color: #C9E4DE;
}

.tool-card {
    box-shadow: 5px 5px seagreen;
}

.tool-card:hover{
    box-shadow: none;
    left: 5px;
    top: 5px;
}

.tool-image{
    width: 200px;
    height: auto;
}
.tool-image {
    width: auto;
    height: 300px;
}

.consumables {
    background-color: #F7D9C4;
}

.consumable-card {
    box-shadow: 5px 5px darkorange;
}

.consumable-card:hover {
    box-shadow: none;
    left: 5px;
    top: 5px;
}