<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials/bs-head :: head('Baking Buddy')"></head>
<body>
    <div th:replace="partials/navbar :: side-menu"></div>
    <div th:replace="partials/navbar :: mobile-side-menu"></div>
    <header id="header">
        <nav th:replace="partials/navbar :: landing-nav"></nav>
    </header>
    <section id="welcome">
        <div class="container">
            <div class="welcome text-center">
                <h1>Baking Buddy</h1>
                <p class="text-uppercase">Home of your friendly neighborhood bakers</p>
            </div>
        </div>
    </section>

    <main class="container d-flex flex-wrap justify-content-evenly mt-5">
        <div class="card card-width card-shadow" th:each="user : ${users}" th:if="${user.isBaker()}">
            <img class="card-img-top inbox-photo" th:src="${bakerProfileImages.get(user.id)}" alt="baker profile image">
            <div class="card-body text-center">
                <a th:href="@{|/baker-profile/${user.id}|}" class="card-title h3" th:text="${user.username}"></a>
                <p class="card-text dark-text text-uppercase">
                    <span th:text="${user.city}"></span>,
                    <span th:text="${user.state}"></span>
                </p>
                <a th:href="@{|/reviews/${user.id}|}" class="btn btn-purple">View Reviews</a>
            </div>
        </div>
    </main>
    <div th:replace="partials/scripts :: scripts"></div>
    <script src="/js/navigation.js"></script>
</body>
</html>