<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/bs-head :: head('Baking Buddy')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:replace="partials/navbar :: navbar('Baking Buddy')"></nav>
    <header th:replace="partials/banner :: banner('Welcome to Baking Buddy')"></header>

    <main>
        <div class="card" th:each="user : ${users}" th:if="${user.isBaker()}">
            <div class="card-body">
                <a th:href="@{|/baker-profile/${user.id}|}" class="card-title" th:text="${user.username}"></a>
                <p class="card-text">
                    <span th:text="${user.city}"></span>,
                    <span th:text="${user.state}"></span>
                </p>
            </div>
        </div>
    </main>


</body>
</html>